{% load static %}
<footer class="footer-section mt-2 bg-dark text-light py-5">

    <div class="container">

        <div class="row gy-5 borrder-bottom pb-5">

            <div class="col-lg-4">
                <h3 class="text-white fw-bold">
                    Nana Lulu
                </h3>

                <p class="text-light mt-3">
                    Premium wines, spirits and beers delivered
                    with speed, reliability and exceptional customer service.
                </p>
            </div>

            <div class="col-lg-2">
                <h5>Quick Links</h5>

                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

            </div>

            <div class="col-lg-3">
                <h5>Contact</h5>

                <ul class="list-unstyled">

                    <li>Nairobi, Kenya</li>

                    <li>+254 700 000 000</li>

                    <li>info@nanalulu.com</li>

                </ul>

            </div>

            <div class="col-lg-3">
                <h5>Opening Hours</h5>

                <ul class="list-unstyled">
                    <li>Mon - Sat</li>
                    <li>8:00 AM - 10:00 PM</li>

                    <li>Sunday</li>
                    <li>10:00 AM - 8:00 PM</li>
                </ul>
            </div>

        </div>

        <hr>

        <div class="d-flex justify-content-between flex-wrap">

            <p>
                © 2026 Nana Lulu. All Rights Reserved.
            </p>

            <p>
                Must be 18+ to purchase alcohol.
            </p>

        </div>

    </div>

</footer>